@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100");

body {
  background-color: #002b36;
  color: #aeb1b0;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
span,
button {
  font-family: "Roboto";
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 0.025em;
}

.App {
  text-align: center;
}

.Welcome {
  animation-duration: 4s;
}
.App-title {
  margin-top: 50px;
  line-height: 1.6em;
  font-size: 2.7em;
}

.App-intro {
  padding: 20px;
  font-size: large;
}
.Installs::first-line {
  color: #19f9d8;
}

/* Gif */

.Gif {
  animation-duration: 3s;
  animation-delay: 0.5s;
  width: 60%;
  border-radius: 5px;
  padding-bottom: 50px;
}

/* Button */

.Btn {
  padding: 10px 30px;
  margin: 10px;
  border-radius: 5px;
  background-color: #09698180;
  border: #19f9d8 solid 0.5px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-size: 0.8em;
  text-decoration: none;
}

.Btn:hover {
  background-color: #103c4780;
  color: #aeb1b0;
  transition: 0.5s ease-in-out;
}

/* Wrapper*/

.Wrapper {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 40px;
}

.Box {
  margin-top: 50px;
  color: #fff;
}

.Available {
  margin: 130px;
}

.Available-logo {
  width: 150px;
  height: 100px;
}

/* Footer */

.Footer {
  background-color: #002b36;
  text-align: center;
  border-top: 0.5px solid #19f9d8;
}

.Footer-p {
  padding: 25px;
}
