body {
  background-color: #002b36;
  color: #aeb1b0;
  /* 
  * #19f9d8
  * #09698180
  */
}

.App {
  text-align: center;
}

.App-logo {
  margin-top: 100px;
  margin-bottom: 50px;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
