@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100");

body {
  background-color: #00232c;
  color: #aeb1b0;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
span,
button {
  font-family: "Roboto";
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 0.025em;
}

.App {
  margin: 0 auto;
  text-align: center;
  max-width: 1280px;
}

.Welcome {
  animation-duration: 5s;
}
.App-title {
  margin-top: 50px;
  line-height: 1.6em;
  font-size: 2.7em;
}

.App-intro {
  padding: 20px;
  font-size: large;
}
.Installs::first-line {
  color: #19f9d8;
}

/* Gif */

.Gif {
  animation-duration: 4s;
  animation-delay: 1s;
  width: 60%;
  border-radius: 5px;
  padding-bottom: 50px;
}

/* Button */

.Btn {
  padding: 10px 30px;
  margin: 10px;
  border-radius: 5px;
  background-color: #09698180;
  border: #19f9d8 solid 0.5px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-size: 0.8em;
  text-decoration: none;
  animation-delay: 1.3s;
  animation-duration: 5s;
}

.Btn:hover {
  background-color: #103c4780;
  color: #aeb1b0;
  transition: 0.5s ease-in-out;
}

/* Wrapper*/

.Wrapper {
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  /* grid-auto-rows: 150px; */
  grid-gap: 10px;
}

.Box {
  margin-top: 50px;
  color: #fff;
}

/* Overview */

.Overview {
  float: left;
}

.Overview > h2 {
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.856);
}
.Overview > p {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 0.8em;
}

.Container {
  animation-delay: 1.5s;
  animation-duration: 5s;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Available */
.Available {
  color: rgba(255, 255, 255, 0.856);
  margin-top: 100px;
  margin-bottom: 100px;
  animation-delay: 1.8s;
  animation-duration: 5s;
}

.Available-logo {
  width: 80px;
  height: 60px;
}

.Unavailable {
  opacity: 0.1;
}

/* Syntax */
li {
  display: inline;
  padding: 5px;
  list-style: none;
  transition: 1s ease-in-out;
  opacity: 0.7;
}

li:hover {
  /* transition-duration: 1s; */
  transition: 1s ease-in-out;
  opacity: 1;
}

.Syntax {
  float: right;
}

.Syntax > h2 {
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.856);
}

.Syntax > ul {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
.Syntax-icon {
  width: 30px;
  height: 30px;
}

/* Footer */

.Footer {
  background-color: #002b36;
  text-align: center;
  border-top: 0.5px solid #19f9d8;
}

.Footer-p {
  padding: 20px;
}

.Footer-p:first-letter {
  font-size: 1.4em;
}

@media (min-width: 700px) {
  .Available-logo {
    width: 100px;
    height: 80px;
  }

  .Overview > h2 {
    font-size: 2em;
  }
  .Overview > p {
    font-size: 1em;
  }
}

@media (min-width: 1300px) {
  .Container {
    margin-top: 130px;
  }

  .Gif {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .Available {
    margin-top: 150px;
  }

  .Box {
    margin-top: 100px;
    margin-bottom: 80px;
  }
}
